*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;  
}
             
.navbar {
  padding: 7px 10px;
  text-decoration:none;
  color:#EC3750 ;
  font-size: 16px;
  text-transform: uppercase;
  transition: all 0.3s ease; 
  font-weight: bold; 
}

.navbar:hover {
  color: #02329D;
}

button {
  margin-top: 4%;   
  padding: 7px 18px ;
  background-color: #EC3750;
  border:none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3 ease 0s;
  float: right;
}

button:hover {
  background-color:#02329D ;
}

.r_color {
  color: #EC3750;
}

header{
  background-color:#313444;
}

.tech_logo{
  width: 60px;
  border-radius: 60px;
  cursor: pointer;            
  float: left;
  margin: 0px 20px;
}

.in_logo{
  width: 270px;
  border-radius: 270px;
  cursor: pointer;            
  float:inline-start;
  margin: 0% 0%;
  margin-top: -21%;
  margin-bottom: -4%;
}

.in_logo1{
  width: 360px;
  border-radius: 270px;
  cursor: pointer;            
      margin: auto;
      margin-top: -22%;
      margin-bottom: auto;
      text-align: center;
}

.logo{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
  font-size: 22px;
  color: white;
  text-decoration: none;
  line-height: 75px;
  margin: auto;
}

nav #icon{
  color:#02329D;
  font-size: 20px;
  line-height: 70px;
  float: right;
  margin-right: 40px;
  cursor: pointer;
}
.margin{ 
  padding: 4%;
  margin: 0 0;
  background:#313444;
  overflow: hidden;
  filter: blur(0px);
}

.text{
  color: #EC3750;
}

.parallax{
  background-image: url(img/binary.png);
  background-size: cover;
  background-attachment: fixed;
}

.parallax-inner{
  padding-bottom: 30%;
  padding-right: 70%;
}
        
.parallax h1{
  text-align: left;
  font-size: 500%;
  color: white;
  letter-spacing: 3px;
  padding-top: 0px;
  padding-bottom: 350px;
}
.card p {
  font-family: "Poppins";
}
.card {
  width: 200px;
  height: 325px;
  margin: auto;
  text-align: center;
  padding: 10px;
}

.title {
  color: black;
  font-size: 15px;
}

div {
  margin: 0px;
}

.logo_text {
  cursor: pointer;
  font-size: 20px;
  color: #1d1d1d;
  text-decoration: none;
  margin-inline: right;
}

.r_color {
  color: #EC3750;
}
  
@keyframes stroke-offset{
  100% {stroke-dashoffset: -100%;}
}

.event-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000;
  border-radius:30px;
  display: inline-flex;
  align-items: center;
  margin-bottom: 4%;
  margin-left: 0%;
}

.event-card-struct {
  position: relative;
  width: 300px;
  height: 300px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius:30px;
  display: inline-block;
  margin-bottom: auto;
}

.event-card:hover .event-card-struct {
  transform: rotateY(180deg);
}

.event-card-front, .event-card-back {
  position: absolute;
  width: 300px;
  height: 300px;
  backface-visibility: hidden;
  border-radius:30px;
}

.event-card-back {
  /**background-image: linear-gradient(#1B1C37,#313444);**/
  transform: rotateY(180deg);
}

.event{
  border-radius: 30px;
  width: 300px;
  height: 300px;
}

.event-card-back h1{
  font-family: "Poppins";
  vertical-align: middle;
  font-size: 25px;
  text-align:center;
  color:white;
  font-weight: lighter;
  padding: 10px;
}

.text h1{
  color: black;
  font-family:"Poppins";
  margin: auto;
  margin-top: 10px;
  font-size: 30px;
}
  
.wrapper {
	max-width: initial;
  align-items: center;
  margin-bottom: 6%;
  margin-left:5%;
  margin: auto;
  margin-left:5%;
}

.container {
  display:inline-flex;
  align-items: center;
}

.p_text{
  margin-top: -4%;
  font-size: 65px;
  color: white;
  cursor: pointer;
  overflow: hidden;
  display: inline-block;
  
}
.p_text1{
  font-size: 65px;
  color: white;
  cursor: pointer;
  overflow: hidden;
  display: center;
  text-align: center;
  margin: auto;
  
}
.p_text2{
  margin-top: -20%;
  margin-bottom: -2%;
  font-size: 76px;
  color: white;
  cursor: pointer;
  overflow: hidden;
  text-align: center;

}

.list{
  display: inline-block;
}

.register{
  float:none;
  border-radius: 8px;
  color: white;
}
